<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">

    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-cube text-danger icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Temperature</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">[[${curr_reading.temperature}]]°C</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i aria-hidden="true" class="mdi mdi-alert-octagon mr-1"></i>
                        [['YDA Avg: ' + ${#numbers.formatDecimal(yesterday_reading.temperature, 0, 1)} + '°C']]
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-receipt text-warning icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Humidity</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">[[${curr_reading.humidity}]]%</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i aria-hidden="true" class="mdi mdi-bookmark-outline mr-1"></i>
                        [['YDA Avg: ' + ${#numbers.formatDecimal(yesterday_reading.humidity, 0, 1)} + '%']]
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-poll-box text-success icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">Brightness</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">[[${curr_reading.brightness}]] lux</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i aria-hidden="true" class="mdi mdi-calendar mr-1"></i>
                        [['YDA Avg: ' + ${#numbers.formatDecimal(yesterday_reading.brightness, 0, 1)} + ' lux']]
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
            <div class="card card-statistics">
                <div class="card-body">
                    <div class="clearfix">
                        <div class="float-left">
                            <i class="mdi mdi-account-location text-info icon-lg"></i>
                        </div>
                        <div class="float-right">
                            <p class="mb-0 text-right">At Home</p>
                            <div class="fluid-container">
                                <h3 class="font-weight-medium text-right mb-0">[[${atHome.atHome}]]</h3>
                            </div>
                        </div>
                    </div>
                    <p class="text-muted mt-3 mb-0">
                        <i aria-hidden="true" class="mdi mdi-reload mr-1"></i>
                        [['Last Activity: ' + ${#dates.format(atHome.last_report, 'MM-dd, HH:mm')}]]
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 grid-margin stretch-card">
            <!--weather card-->
            <div class="card card-weather">
                <div class="card-body">
                    <div class="weather-date-location">
                        <h3>[[${dayofweek}]]</h3>
                        <p class="text-gray">
                            <span class="weather-date">[[${weather.today.date}]]</span>
                            <span class="weather-location">[[${weather.location}]]</span>
                        </p>
                    </div>
                    <div class="weather-data d-flex">
                        <div class="mr-auto">
                            <h4 class="display-3">[[${weather.today.temp_c}]]
                                <span class="symbol">&deg;</span>C</h4>
                            <p>
                                [[${weather.today.condition}]]
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="d-flex weakly-weather">
                        <div class="weakly-weather-item" th:each="day: ${weather.forecast.days}">
                            <p class="mb-0" th:text="${day.dayofweek}"></p>
                            <!--                            <i class="mdi mdi-weather-cloudy"></i>-->
                            <img alt="" class="mdi" height="30"
                                 src="" th:src="@{${day.icon}}" width="30"></img>
                            <p class="mb-0" th:text="${day.temp_c} + '°C'"></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--weather card ends-->
        </div>
        <div class="col-lg-9 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!--                    <div class="row d-none d-sm-flex mb-4">-->
                    <!--                        <div class="col-4">-->
                    <!--                            <h5 class="text-primary">Unique Visitors</h5>-->
                    <!--                            <p>34657</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-4">-->
                    <!--                            <h5 class="text-primary">Bounce Rate</h5>-->
                    <!--                            <p>45673</p>-->
                    <!--                        </div>-->
                    <!--                        <div class="col-4">-->
                    <!--                            <h5 class="text-primary">Active session</h5>-->
                    <!--                            <p>45673</p>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                    <div class="chart-container">-->
                    <!--                        <canvas id="dashboard-area-chart" height="80"></canvas>-->
                    <!--                    </div>-->
                    <script src="https://code.highcharts.com/highcharts.js"></script>
                    <script src="https://code.highcharts.com/modules/series-label.js"></script>
                    <script src="https://code.highcharts.com/modules/exporting.js"></script>
                    <script src="https://code.highcharts.com/modules/export-data.js"></script>
                    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
                    <figure class="highcharts-figure">
                        <div id="container"></div>
                    </figure>
                    <script th:inline="javascript">
                        (function () {
                            const temp_data_raw = [[${last_24h_temp_map}]];
                            const humid_data_raw = [[${last_24h_humid_map}]];
                            const bright_data_raw = [[${last_24h_bright_map}]];

                            drawChart(convertData(temp_data_raw), convertData(humid_data_raw), convertData(bright_data_raw));

                            function convertData(raw) {
                                var data = [];
                                for (var i = 0; i < raw.length; i++) {
                                    var object = {};
                                    object.x = Date.parse(raw[i].date);
                                    object.y = raw[i].data;
                                    data.push(object);
                                }
                                return data;
                            }

                            function drawChart(temp, humid, bright) {
                                Highcharts.chart('container', {
                                    chart: {
                                        type: 'spline'
                                    },
                                    title: {
                                        text: '24-hour Sensor Readings'
                                    },
                                    subtitle: {
                                        text: 'Temperature, Humidity, and Brightness Readings'
                                    },
                                    xAxis: {
                                        type: 'datetime',
                                        dateTimeLabelFormats: { // don't display the dummy year
                                            millisecond: '%H:%M:%S',
                                            second: '%H:%M:%S',
                                            minute: '%H:%M',
                                            hour: '%H:%M',
                                            day: '%e. %b',
                                            week: '%e. %b',
                                            month: '%b \'%y',
                                            year: '%Y'
                                        },
                                        title: {
                                            text: 'Date Time'
                                        }
                                    },
                                    yAxis: [{ // Primary yAxis
                                        labels: {
                                            format: '{value}°C',
                                            style: {
                                                color: '#6696ff'
                                            }
                                        },
                                        title: {
                                            text: 'Temperature',
                                            style: {
                                                color: '#6696ff'
                                            }
                                        },
                                        opposite: true

                                    }, { // Secondary yAxis
                                        gridLineWidth: 0,
                                        title: {
                                            text: 'Humidity',
                                            style: {
                                                color: '#008c1d'
                                            }
                                        },
                                        labels: {
                                            format: '{value}%',
                                            style: {
                                                color: '#008c1d'
                                            }
                                        }

                                    }, { // Tertiary yAxis
                                        gridLineWidth: 0,
                                        title: {
                                            text: 'Brightness',
                                            style: {
                                                color: '#cc7400'
                                            }
                                        },
                                        labels: {
                                            format: '{value} lux',
                                            style: {
                                                color: '#cc7400'
                                            }
                                        },
                                        opposite: true
                                    }],
                                    tooltip: {
                                        headerFormat: '<b>{series.name}</b><br>'
                                    },

                                    plotOptions: {
                                        series: {
                                            marker: {
                                                enabled: true
                                            }
                                        }
                                    },

                                    colors: ['#6696ff', '#008c1d', '#cc7400'],

                                    // Define the data points. All series have a dummy year
                                    // of 1970/71 in order to be compared on the same x axis. Note
                                    // that in JavaScript, months start at 0 for January, 1 for February etc.
                                    series: [{
                                        name: "Temperature",
                                        data: temp,
                                        yAxis: 0,
                                        tooltip: {
                                            pointFormat: '{point.x:%b %e, %H:%M}: {point.y:.0f}°C'
                                        }
                                    }, {
                                        name: "Humidity",
                                        data: humid,
                                        yAxis: 1,
                                        tooltip: {
                                            pointFormat: '{point.x:%b %e, %H:%M}: {point.y:.0f}%'
                                        }
                                    }, {
                                        name: "Brightness",
                                        data: bright,
                                        yAxis: 2,
                                        tooltip: {
                                            pointFormat: '{point.x:%b %e, %H:%M}: {point.y:.0f} lux'
                                        }
                                    }],

                                    responsive: {
                                        rules: [{
                                            condition: {
                                                maxWidth: 500
                                            },
                                            chartOptions: {
                                                plotOptions: {
                                                    series: {
                                                        marker: {
                                                            radius: 2.5
                                                        }
                                                    }
                                                }
                                            }
                                        }]
                                    }
                                });
                            }
                        })();

                    </script>
                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>
