<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome to Smart Home Device Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" th:href="@{vendors/owl-carousel/css/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{vendors/owl-carousel/css/owl.theme.default.css}">
  <link rel="stylesheet" th:href="@{vendors/mdi/css/materialdesignicons.min.css}">
  <link rel="stylesheet" th:href="@{vendors/aos/css/aos.css}">
  <link rel="stylesheet" th:href="@{css/style.min.css}">
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  <header id="header-section">
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
    <div class="container">
      <div class="navbar-brand-wrapper d-flex w-100">
        <img alt="" th:src="@{img/smarthome_logo.png}" width="20%">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
        </button> 
      </div>
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img alt="" th:src="@{img/logo-compact-sm.png}">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#header-section">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features-section">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#digital-marketing-section">Design</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedback-section">Team</a>
          </li>
          <li class="nav-item btn-contact-us pl-4 pl-lg-0">
            <button class="btn btn-info" onclick="window.location.href = '/login';" th:text="${msg}">Login/Register
            </button>
          </li>
        </ul>
      </div>
    </div> 
    </nav>   
  </header>
  <div class="banner" >
    <div class="container">
        <h1 class="font-weight-semibold">Smart Home</h1>
        <h5 class="font-weight-normal text-muted pb-3">This project will develop a smart home device prototype along
            with a simple web user interface using Node-RED, ESP32, and various sensors, the team will
            demonstrate the use of a smart home system.
            <img alt="" class="" height="480px" th:src="@{img/device.jpg}">
        </h5>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>How does it work?</h2>
          <h6 class="section-subtitle text-muted">The team will make use of various sensors such as a temperature/humidity sensor, a light sensor, and a motion sensor, to collect necessary data to be displayed to the end-user through a web-UI and an on-board display. </h6>
        </div>
          <div class="d-md-flex justify-content-between">
              <div class="grid-margin d-flex justify-content-center">
                  <div class="features-width">
                      <img alt="" class="img-icons" height="120"
                           src="https://raw.githubusercontent.com/philanri/weather-icons/bc01cf47144d32e826e59656b6c51b214478e605/images/svg/e_1_temperature.svg"
                           width="120">
                      <h5 class="py-3"><br>Temperature</h5> Measurement
                      <p class="text-muted">The device will automatically measure the ambient temperature.</p>
                      <!--a href="#"><p class="readmore-link">Readmore</p></a-->
                  </div>
              </div>
              <div class="grid-margin d-flex justify-content-center">
                  <div class="features-width">
                      <img alt="" class="img-icons" height="120"
                           src="https://raw.githubusercontent.com/philanri/weather-icons/bc01cf47144d32e826e59656b6c51b214478e605/images/svg/g_4_waterdrop.svg"
                           width="120">
                      <h5 class="py-3"><br>Humidity</h5> Measurement
                      <p class="text-muted">The device will automatically measure the ambient humidity.</p>
                      <!--a href="#"><p class="readmore-link">Readmore</p></a-->
                  </div>
              </div>
              <div class="grid-margin d-flex justify-content-center">
                  <div class="features-width">
                      <img alt="" class="img-icons" height="120"
                           src="https://raw.githubusercontent.com/philanri/weather-icons/main/images/svg/a_1_sunny.svg"
                           width="120">
                      <h5 class="py-3"><br>Brightness</h5> Measurement
                      <p class="text-muted">The device will automatically measure the ambient brightness.</p>
                      <!--a href="#"><p class="readmore-link">Readmore</p></a-->
                  </div>
              </div>
              <div class="grid-margin d-flex justify-content-center">
                  <div class="features-width">
                      <img alt="" class="img-icons" height="120"
                           src="https://community-openhab-org.s3.dualstack.eu-central-1.amazonaws.com/original/3X/8/b/8b94f3c043d3c3d22e7253d9ff9bc9d5276f4740.svg"
                           width="80">
                      <h5 class="py-3"><br>Motion</h5> Activity
                      <p class="text-muted">The device will detect and record any motion happened.</p>
                      <!--a href="#"><p class="readmore-link">Readmore</p></a-->
                  </div>
              </div>
          </div>
      </section>     
      <section class="digital-marketing-service" id="digital-marketing-section">
          <div class="row align-items-center">
              <div class="col-12 col-lg-5 grid-margin grid-margin-lg-0" data-aos="fade-right">
                  <h3 class="m-0">System Structure Design</h3>
                  <div class="col-lg-7 col-xl-6 p-0">
                      <p class="font-weight-medium text-muted">The team will make use of various sensors such as a
                          temperature/humidity sensor, a light sensor, and a motion sensor, to collect necessary data to
                          be displayed to the end-user through a web-UI and an on-board display. A detailed description
                          of each hardware and software the device uses is shown on the right.</p>
                  </div>
              </div>
              <div class="col-12 col-lg-7 p-0 img-digital grid-margin grid-margin-lg-1" data-aos="fade-left">
                  <img alt="" class="img-fluid" th:src="@{img/UIandDatabase.svg}">
              </div>
          </div>
          <div class="row align-items-center">
              <div class="col-12 col-lg-5 grid-margin grid-margin-lg-0" data-aos="fade-right">
                  <h3 class="m-0">Hardware Design</h3>
                  <div class="col-lg-7 col-xl-6 p-0">
                      <ul class="font-weight-medium text-muted">
                          <li>ESP32</li>
                          <li>DHT11</li>
                          <li>PIR Motion Sensor</li>
                          <li>LCD Display</li>
                          <li>Photoresistor</li>
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-lg-7 p-0 img-digital grid-margin grid-margin-lg-1" data-aos="fade-left">
                  <img alt="" class="img-fluid" th:src="@{img/UIandDatabase.svg}">
              </div>
          </div>
          <div class="row align-items-center">
              <div class="col-12 col-lg-5 grid-margin grid-margin-lg-0" data-aos="fade-right">
                  <h3 class="m-0">Software Design</h3>
                  <div class="col-lg-7 col-xl-6 p-0">
                      <ul class="font-weight-medium text-muted">
                          <li>Web-framework (Java Spring Boot) for Web User-Interface</li>
                          <li>User Password are Encrypted</li>
                          <li>MySQL Database for Durable Data Storage</li>
                          <li>Mosquitto MQTT</li>
                          <li>Node-RED</li>
                          <li>Redis for caching user information</li>
                      </ul>
                  </div>
              </div>
              <div class="col-12 col-lg-7 p-0 img-digital grid-margin grid-margin-lg-1" data-aos="fade-left">
                  <img alt="" class="img-fluid" th:src="@{img/UIandDatabase.svg}">
              </div>
          </div>
      </section>
        <section class="customer-feedback" id="feedback-section">
            <div class="row">
                <div class="col-12 text-center pb-5">
                    <h2>Introduce the Smart Home Team</h2>
                    <!--h6 class="section-subtitle text-muted m-0">Lorem ipsum dolor sit amet, tincidunt vestibulum.</h6-->
                </div>
                <div class="owl-carousel owl-theme grid-margin">
                    <div class="card customer-cards">
                        <div class="card-body">
                            <div class="text-center">
                      <!--                    <img th:src="@{img/face2.jpg}" width="89" height="89" alt="" class="img-customer">-->
                      <p class="m-0 py-3 text-muted">[Personal Statement]</p>
                      <div class="content-divider m-auto"></div>
                      <h6 class="card-title pt-3">Yuchen Wang</h6>
                      <h6 class="customer-designation text-muted m-0">Hardware and Embedded system</h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                    <div class="text-center">
                        <!--                    <img th:src="@{img/face3.jpg}" width="89" height="89" alt="" class="img-customer">-->
                        <p class="m-0 py-3 text-muted">[Statement]</p>
                        <div class="content-divider m-auto"></div>
                        <h6 class="card-title pt-3">Yudong Huang</h6>
                        <h6 class="customer-designation text-muted m-0">Node-RED and MQTT server</h6>
                    </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                    <div class="text-center">
                        <!--                    <img th:src="@{img/face2.jpg}" width="89" height="89" alt="" class="img-customer">-->
                        <p class="m-0 py-3 text-muted">[Statement]</p>
                        <div class="content-divider m-auto"></div>
                        <h6 class="card-title pt-3">Luoyan Zhang</h6>
                        <h6 class="customer-designation text-muted m-0">Web-UI and Database</h6>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
              <img alt="" class="pt-2" height="230" th:src="@{img/smarthome_logo.png}" width="300">
            <div class="pt-2">
              <p class="text-muted m-0"></p>
              <p class="text-muted m-0"></p>
            </div>         
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2"></h5>
            <p class="text-muted"></p>
            <!--form>
              <input type="text" class="form-control" id="Email" placeholder="Email id">
            </form-->
            <div class="pt-3">
              <!--button class="btn btn-dark">Subscribe</button-->
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2"></h5>
            <!--a href="#"><p class="m-0 pb-2">Terms</p></a>
            <a href="#" ><p class="m-0 pt-1 pb-2">Privacy policy</p></a> 
            <a href="#"><p class="m-0 pt-1 pb-2">Cookie Policy</p></a> 
            <a href="#"><p class="m-0 pt-1">Discover</p></a-->
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
              <h5 class="pb-2">Our address</h5>
            <p class="text-muted">110 8th St, Troy, NY 12180</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <!--a href="#"><span class="mdi mdi-facebook"></span></a>
                <a href="#"><span class="mdi mdi-twitter"></span></a>
                <a href="#"><span class="mdi mdi-instagram"></span></a>
                <a href="#"><span class="mdi mdi-linkedin"></span></a-->
              </div>
          </div>
        </div>  
      </section>
        <footer class="border-top">
            <p class="text-center text-muted pt-4">Copyright © 2022<a class="px-1"
                                                                      href="https://iot.doby2333.com:8081/">Smart
                Home
                Team</a>All rights reserved.</p>
        </footer>
    </div> 
  </div>
  <script th:src="@{vendors/jquery/jquery.min.js}"></script>
  <script th:src="@{vendors/bootstrap/bootstrap.min.js}"></script>
  <script th:src="@{vendors/owl-carousel/js/owl.carousel.min.js}"></script>
  <script th:src="@{vendors/aos/js/aos.js}"></script>
  <script th:src="@{js/landingpage.js}"></script>
</body>
</html>